<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>Done</title>
	<link rel="stylesheet" href="/css/search_result.css" />
	<link rel="stylesheet" href="/css/settings.css" />
	<script
  		src="https://code.jquery.com/jquery-3.1.1.min.js"
  		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  		crossorigin="anonymous"></script>
</head>
<body>
	<nav id="nav_bar">
		<ul id="nav_bar_content">
			<li id="nav_bar_left">
			</li>
			<li id="nav_bar_middle">
				<strong>Done!</strong>
			</li>
			<li id="nav_bar_right">
				<!--
				<button id="next_button" class="click_button" onclick="donePage()">
					<strong>Send</strong>
				</button>
				-->
			</li>
		</ul>
	</nav>

	<main>
		<div id="app_pic" class="pic">
      		<img id="app_image" class='image' alt="Avatar" src="images/done.png" />
      		<style type="text/css">
      			#app_image{
      				max-width: 100px;
      				display: block;
    				margin: auto;
      			}
      			li {
      				margin-top: 10px;
      			}
      		</style>
    	</div>
    	<br>
		<ul>
			<h3>You have successfully added 
				<li><strong>Chris Evens</strong></li>
				 to your contacts!</h3>
			<button id = "back_to_search" class = "back_to_search" onclick = "backToHomePage()">
				<strong>Go back to my contacts</strong>
			</button>
		</ul>
	</main>
	<script src="/js/done.js"></script>
</body>
</html>