<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>Pending Requests</title>
	<!--<link rel="stylesheet" href="css/contact.css" />	-->
	<script 
  		src="https://code.jquery.com/jquery-3.1.1.min.js"
  		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  		crossorigin="anonymous"></script>
  	<script src="/js/contact.js"></script>
  	<script src="/js/pending.js"></script>
  	<style type="text/css">
	ul {
		padding: 0;
		margin: 0;
	}

	ul.middleList{
		text-align:center;
		list-style-type:none;	
	}
	li {
		margin-bottom:10px;
	}
	body {
			padding: 0;
			margin:0;
			background-color:white;
			align-self:center;
		}
	#nav_bar{
			position: fixed;
			top:0;
			left:0;
			background-color: white;
			border-bottom: 1px solid grey;
			width: 100%;
			height: 50px;
			z-index: 1024;
		}
	#nav_bar_content{
			list-style: none;
			display: flex;
			padding: 10px;
			line-height: 30px;
		}
	#nav_bar_left{
			width: 25%;
			text-align:left;
		}
	.click_button {
        	background-color: transparent;
			border-radius: 5px;
			border: 1px solid black;
			line-height: 24px;
			padding: 0 10px;
			outline:none;
			transition: all 0.2s;
			-webkit-user-select: none;
  		}
    .click_button:active{
			background-color: rgba(150, 150, 150, 0.3);
	}
	#nav_bar_middle{
			width: 50%;
			text-align: center;
	}
	main {
		margin-left: 30px;
		margin-right: 30px;
		margin-top: 51px;
		padding: 15px;
	}
	.contact_img{
		display: block;
    	margin: auto;
		
		max-width: 80px;
	}
	h2, h3, h4, h5 {
  		font-family: 'Alegreya Sans', sans-serif;
  		font-weight: 300;
  		margin-top: 30px;
	}
	.click_button{
		width: 80%;
  		background-color: transparent;
  		border-radius: 5px;
  		border: 1px solid black;
  		line-height: 24px;
  		padding: 0 10px;
  		outline:none;
  		transition: all 0.2s;
  		-webkit-user-select: none;
	}
	.divider{
		color: #a1a6a8;
     	background: #a1a6a8; 
     	width: 100%; 
     	height: 1px;
	}
</style>
</head>

<body>
	<nav id="nav_bar">	
		<ul id="nav_bar_content">
			<li id="nav_bar_left">
				<button id="back_button" class="click_button" onclick="backToHomePage()">
					<strong>Back</strong>
				</button>		
			</li>
			<li id="nav_bar_middle">				
				<strong id="profile_name">
					Pending Requests
				</strong>
			</li>
			<li id="nav_bar_right">
			</li>
		</ul>
	</nav>
	<main>
		<ul class="contact_info">
			<ul>
				<img class="contact_img" src="http://cdn.conectate.com.do.s3.amazonaws.com/wp-content/uploads/2015/04/Chris-Evans.jpg">
				<h4><font color = "#0059b3"><strong>Chris Evens </strong>wants to share this information with you:</font>
				<li><strong>Phone</strong></li>
				<li><strong>Email</strong></h4></li>
			</ul>
			
		</ul>
		<form action="/select_info_chris" method="get">
			<button type="submit" id="back_button" class="click_button" onclick="selectInfoToSend()">
				<strong>Agree and send back contact info</strong>
			</button>
		</form>
		<br>
		<div class = "divider"></div>  
		<br>
		
		<ul class="contact_info">
			<ul>
				<img class="contact_img" src="https://doctorwhowatch.com/files/2016/03/downey.jpg">
				<h4><font color = "#0059b3"><strong>Robert Downey Jr. </strong>wants to share this information with you:</font>
				<li><strong>Phone</strong></li>
				<li><strong>Email</strong></h4></li>
			</ul>
			
		</ul>
		<form action="/select_info_robert" method="get">
			<button type="submit" id="back_button" class="click_button" onclick="selectInfoToSend()">
				<strong>Agree and send back contact info</strong>
			</button>
		</form>
		<br>
		<div class = "divider"></div> 
		<h5>You will be able to view the detailed information once you send back your own contact information.</h5>
	</main>
	</body>
</html>