<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>Select contact info</title>
	<link rel="stylesheet" href="/css/search_result.css" />
	<link rel="stylesheet" href="/css/settings.css" />
	<script
  		src="https://code.jquery.com/jquery-3.1.1.min.js"
  		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  		crossorigin="anonymous"></script>
   	<script src="/js/Settings.js"></script>
  	<script src="/js/select-info.js"></script>
</head>
<body>
	<nav id="nav_bar">
		<ul id="nav_bar_content">
			<li id="nav_bar_left">
				<button id="back_button" class="click_button" onclick="backToPendingPage()">
					<strong>Back</strong>
				</button>
			</li>
			<li id="nav_bar_middle">
				<strong>Select Information</strong>
			</li>
			<li id="nav_bar_right">
				<form action="/done_chris_add" method="get">
					<button type = submit id="next_button" class="click_button" onclick="">
						<strong>Send</strong>
					</button>
			</form>
			</li>
		</ul>
	</nav>

	<main>
		<div class="container">
			<div class="control-group">
				<h3> Sending your contact information to <strong>Chris Evens</strong></h3>
				<h4><font color = "#0059b3">Your default contact information is set to:
					{{#each setting}}
						<strong>{{way}} </strong></font></h4>
					{{/each}}
					<h4>Please select additional contact information you want to send:</h4>
					<form>
						<label class="control control--checkbox"><h4>Phone Number</h4>
	  						<input id = "phone" type="checkbox" name="way" value="phone" checked>
	  						<div class="control__indicator"></div>
    					</label>
    					<label class="control control--checkbox"><h4>Email Address</h4>
  							<input id = "email" type="checkbox" name="way" value="email" checked>
  							<div class="control__indicator"></div>
    					</label>
    					<label class="control control--checkbox"><h4>Facebook</h4>
	  						<input id = "facebook" type="checkbox" name="way" value="facebook">
	  						<div class="control__indicator"></div>
    					</label>
    					<label class="control control--checkbox"><h4>LinkedIn</h4>
	  						<input id = "linkedin" type="checkbox" name="way" value="linkedin">
	  						<div class="control__indicator"></div>
    					</label>
    					<label class="control control--checkbox"><h4>WeChat</h4>
	  						<input id = "wechat" type="checkbox" name="way" value="wechat">
	  						<div class="control__indicator"></div>
    					</label>
    					<label class="control control--checkbox"><h4>Instagram</h4>
	  						<input id = "instagram" type="checkbox" name="way" value="instagram">
	  						<div class="control__indicator"></div>
    					</label>
  				<!--<button class="click_button" onclick="checkFunc()">OK</button> -->
					</form>
				</div>
		</div>
	</main>
</body>
</html>